<a href="https://colab.research.google.com/github/zachfreitas/ADS_505_Applied_Data_Sci_for_Business-/blob/main/Module_5/Assignment_5/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 5
Zachariah Freitas<br>
2022-10-04

Install Libraries

In [2]:
# Connect Colab to Google Drive for Convience.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Install Book Libraries
!pip install dmba

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dmba
  Downloading dmba-0.1.0-py3-none-any.whl (11.8 MB)
     |████████████████████████████████| 11.8 MB 5.3 MB/s
Installing collected packages: dmba
Successfully installed dmba-0.1.0

In [4]:
# Import Libraries

# EDA and Preprep
from sklearn import preprocessing
from sklearn.model_selection import train_test_split, GridSearchCV
import pandas as pd
import numpy as np

# Classification Model Libraries
from sklearn.linear_model import LogisticRegressionCV # lr or Logistic Regression
from sklearn.ensemble import BaggingClassifier # bc or Bagging Classifier
from sklearn.ensemble import AdaBoostClassifier # abc or Ada Boost Classifier
from sklearn.ensemble import RandomForestClassifier # rf or Random Forest Classifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis # lda or Linear Discriminant Analysis
from sklearn.neural_network import MLPClassifier # nn or Neural Nets
#from sklearn.neighbors import KNeighborsClassifier

# Book Helper Functions
from dmba import plotDecisionTree, gainsChart, liftChart, classificationSummary, regressionSummary
from dmba.metric import AIC_score
# import dmba

# Plotting Libraries
import matplotlib.pylab as plt

# Inline Plot Formating
%matplotlib inline

no display found. Using non-interactive Agg backend

In [5]:
# Dataset Sources
dataSource = 'https://raw.githubusercontent.com/zachfreitas/ADS_505_Applied_Data_Sci_for_Business-/main/Module_5/Assignment_5/BathSoapHousehold.csv'

In [6]:
df = pd.read_csv(dataSource)
df_copy = df.copy()

df_copy.columns = [d.replace(' ', '_').replace('.', '') for d in df_copy.columns]
df_copy = df_copy.iloc[: , 2:]
# Drop unnecessary columns
# df_copy = df_copy.drop('TARGET_D', axis=1)
df_copy.head()

,FEH,MT,SEX,AGE,EDU,HS,CHILD,CS,Affluence_Index,No_of_Brands,...,PropCat_6,PropCat_7,PropCat_8,PropCat_9,PropCat_10,PropCat_11,PropCat_12,PropCat_13,PropCat_14,PropCat_15
0,3,10,1,4,4,2,4,1,2,3,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.028037,0.0,0.130841,0.339564
1,2,10,2,2,4,4,2,1,19,5,...,0.347048,0.026834,0.016100,0.014311,0.0,0.059034,0.000000,0.0,0.080501,0.000000
2,3,10,2,4,5,6,4,1,23,5,...,0.121212,0.033550,0.010823,0.008658,0.0,0.000000,0.016234,0.0,0.561688,0.003247
3,0,0,0,4,0,0,5,0,0,2,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.600000,0.000000
4,1,10,2,3,4,4,3,1,10,3,...,0.000000,0.000000,0.048193,0.000000,0.0,0.000000,0.000000,0.0,0.144578,0.000000

## Question 1

### Question 1.1

---
**Answer:**



--- 
<br>

### Question 1.2

---
**Answer:**



--- 
<br>

### Question 1.3

---
**Answer:**



--- 
<br>

### Question 1.4

---
**Answer:**



--- 
<br>

## Question 2

### Question 2.1

---
**Answer:**



--- 
<br>